{% extends "base.html" %}

{% block body %}
  <h2>Goals</h2>
  <h3>Add Goal</h3>

  <!-- <form action="/add-goal" methods="POST, GET">
    title<input type="text" name="title">


    <input type="submit">  
  </form> -->


  <div class="login-form">
      <form action="/add-goal" method="POST">
        <div class="password-email">Title</div>
        <input class="login-input" type="text" name="title" required>
        <input class="login-input" type="submit" value="Add Goal">
      </form>
        </div>
  <h3>Add task</h3>
          {% if session.get("username") %}
            <form action="/add-task" method="POST">
              <div class="password-email">Goal Title</div>
              <select name="title">
                
                {% for goal in goals.each() %}
                  <option value="{{ goal.key() }}">{{ goal.key() }}</option>
                {% endfor %}
              </select>
              <!-- <input class="login-input" type="text" name="title" required> -->

              Task name: <input class="login-input" type="text" name="task" required>
              <input class="login-input" type="submit" value="Add task">
            </form>
          {% endif %}

<div id=goals></div>
{% if session.get("username") %}
{% if goals.each() is not none %}

  {% for goal in goals.each() %}
    <h2>{{ goal.key() }}</h2>
     <h3>tasks</h3>
    {% for  k,v in val_(goal) %}
      <h4>{{ k }}</h4>
    {% if v == False %}
      <ul>Not complete</ul>
      {% endif %}
  {% endfor %}
  {% endfor %}
  {% endif %}
  {% endif %}
{% endblock %}