<div class="headline">
        <h2>Sign Up</h2>
      </div>
      <p>To save your creations</p>
    
      <div class="login-form">
        <form action="/login" method="POST">
          <div class="password-email">Username</div>
          <input class="login-input" type="text" name="username" required>
          <div class="password-email">Password</div>
          <input class="login-input" type="password" name="password" required>
          <div>
          <input class="login-input" type="submit" value="Log In">
          </div>
        </form>
      </div>